
@model Category
	   <a href="/Home/Categories/@Model.CategoryID" style="text-decoration:none;color:black;"><div class="k-hover">
				<div class="card" style="width: 20rem;margin:10px 15px">
					<img class="card-img-top" src="~/image/@Url.Content(@Model.ImagePath)" alt="Card image cap">
					<div class="card-body">
						<p class="card-text" style="text-align:center;font-size:25px"><b>@Model.CategoryName</b></p>
					</div>
				</div>
			</div></a>
  






			
	