@model Product
<div class=row>


	<div class="col-5 p-4 " style="margin:auto;">
		<img style="float:right" width="450px" src="~/image/@Model.ImagePath" />
	</div>
	<div class="col-6 p-4" style="margin:auto;text-align:center">
		<div class="row"><h1 style="margin-bottom:15px;float:left">@Model.ProductName</h1>	</div>
		<div class="row"><h5 style="margin-bottom:15px;float:left">@Model.ProductComment</h5></div>
		<div class="row"><h2 style="color:red;float:left"> @Model.Price.ToString("c")</h2>&nbsp;<i class="fas fa-tags"></i></div>
		<div class="row">
			<div class="col-12">
				<span style="float:right;margin-bottom:30px"><img src="~/image/kargo.png" width="100px" /></span>
			</div>
		</div>
		<div class="row">
			<div class="col-12" style="bottom:0px">
				<form id="@Model.ProductID" asp-page="/Cart" method="post">
					<input type="hidden" asp-for="ProductID" />
					<button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-shopping-cart"></i>&nbsp;Sepete Ekle</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row mt-4">
	<div class="col-12">
			<div class="bd-example bd-example-tabs">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						
						<a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-comment-dots"></i>&nbsp; Yorumlar</a>
						<a class="nav-item nav-link active show" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="far fa-credit-card"></i>&nbsp; Taksit Seçenekleri</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-star-half-alt"></i>&nbsp; Değerlendirmeler</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
					</div>
					<div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="row">
						
						<div class="col-lg-4 col-md-6 col-12">
							<div >
								<div >
									<div><img src="//st2.myideasoft.com/7.1.7.2/storefront/../images/cardlogos/cardlogo_5.png?revision=7.1.7.2-3" alt="QNB Finansbank"></div>
									<span>
										<strong>QNB Finansbank</strong>
									</span>
								</div>
								<div >
									<table class="table">
										<thead>
											<tr>
												<th class="border">Taksit Sayısı</th>
												<th class="border">Taksit (TL)</th>
												<th class="border">Toplam (TL)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="border">1</td>
												<td class="border"> -  </td>
												<td class="border"> - </td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div >
								<div >
									<div><img src="//st3.myideasoft.com/7.1.7.2/storefront/../images/cardlogos/cardlogo_10.png?revision=7.1.7.2-3" alt="Yapı Kredi"></div>
									<span>
										<strong>Yapı Kredi</strong>
									</span>
								</div>
								<div >
									<table class="table">
										<thead>
											<tr>
												<th class="border">Taksit Sayısı</th>
												<th class="border">Taksit (TL)</th>
												<th class="border">Toplam (TL)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="border">1</td>
												<td class="border"> -  </td>
												<td class="border"> - </td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div>
								<div >
									<div><img src="//st1.myideasoft.com/7.1.7.2/storefront/../images/cardlogos/cardlogo_15.png?revision=7.1.7.2-3" alt="Ziraat Bankası"></div>
									<span>
										<strong>Ziraat Bankası</strong>
									</span>
								</div>
								<div >
									<table class="table">
										<thead>
											<tr>
												<th class="border">Taksit Sayısı</th>
												<th class="border">Taksit (TL)</th>
												<th class="border">Toplam (TL)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="border">1</td>
												<td class="border"> -  </td>
												<td class="border"> - </td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<p>Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. Deserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. Laboris consequat consequat commodo non ut non aliquip reprehenderit nulla anim occaecat. Sunt sit ullamco reprehenderit irure ea ullamco Lorem aute nostrud magna.</p>
					</div>
				</div>
			</div>
	</div>
</div>
