@model Cart
<div class="navbar-text">
	<div class="collapse navbar-collapse" id="navbarText">



     @if(Model.Lines.Count()>0)
	 {
		<b> @Model.Lines.Sum(x=>x.Quantity) Ürün
		 @Model.ComputeTotalValue().ToString("c")&nbsp;</b>
	 }
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link btn btn-outline-secondary" asp-page="/Cart" style="font-size:20px"><i class="fa fa-shopping-cart"></i> Sepet</a>
							</li>
						</ul>
					</div>
				</div> 